.contact-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Center align text */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #b50318;
}

.contact-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #555;
}

.contact-info {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 3;
}

.contact-info i {
  margin-right: 8px;
  color: #b50318;
}

.contact-info a, 
.contact-info address {
  margin: 0 10px;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.contact-info address {
  display: inline-block;
  font-style: normal;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  color: #b50318;
  font-size: 1.2rem;
  transition: 0.3s;
  text-decoration: none;
}

.social-links a:hover {
  background: #333;
  color: #fff;
}