/* world */
.acp-cta-content{
    margin-top: 5rem;
}

.world-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

.world-center img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .world-center {
    padding: 40px 10px;
  }

  .world-center img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .world-center img {
    width: 100%;
  }
}
/*  */
.acp001-section {
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.548)),
    url('../images/images/cheran.JPG') no-repeat center center/cover;
  background-attachment: fixed;
  padding: 80px 20px;
  position: relative;
  color: #fff;
  overflow: hidden;
}


.acp001-overlay {
  padding: 60px;
  border-radius: 12px;
}

.acp001-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.acp001-left,
.acp001-right {
  flex: 1;
  min-width: 280px;
  text-align: center;
  animation: fadeUp 1s ease-in-out forwards;
}

.acp001-highlight-box {
  /* background-color: #b50318; */
  padding: 30px;
  /* border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
}

.acp001-highlight-box h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.acp001-highlight-box p {
  font-size: 18px;
  margin-top: 8px;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}